<div class="ttt-board">
    {{#each controller.fields}}
        <div id="ttt-row-{{@index}}">
        {{#each this}}
            {{#if this}}
                <div id="ttt-column-{{@index}}" class="ttt-field">
                    {{this.symbol}}
                </div>
            {{else}}
                <div id="ttt-column-{{@index}}" class="ttt-active ttt-field">
                </div>
            {{/if}}
        {{/each}}
        </div>
    {{/each}}
</div>